@charset "utf-8"; 

/* Font for the signature */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --colorA1: #A4A7C5;
    --colorA2: #7479A3;
    --colorA3: #4E5588; /* Border/accent color */
    --colorA4: #333A70;
    --colorA5: #1C2356; /* Border for interactable fields */
    
    --colorB1: #98AFBA;
    --colorB2: #668696;
    --colorB3: #436A7D;
    --colorB4: #2A5367;
    --colorB5: #143C4F;

    --colorC1: black; /* Main font color */
    --colorC2: white; /* Background color */
}

* > h1, * > h2, * > h3, * > p, * > a, * > ul > li, * > ol > li, * > div, * > input
{
  font-family: "Quicksand", "Helvetica", sans-serif;
  font-weight: 570;
  line-height:1.5;
  word-wrap: break-word;
  color: var(--colorC1);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--colorC2);
}

* > a, * > a:hover, * > a:visited {
    text-decoration: none;
}

* > ul, * > ol {
    margin-left: 2.5rem;
}

body {
    text-align: center;
    background-color: var(--colorC2);
}

* {
    box-sizing: border-box;
}

* > span {
    font-style: italic;
}

/* ============================== Checkin form ============================== */

/* ----- Main elements ----- */

#checkin {
    width: 100%;
    text-align: left;
    margin-bottom: 20vh;
}

.ci-double-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ci-section-title {
    font-size: 2vw;
    font-weight: normal;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.ci-section {
    width: 90%;
    margin-left: 5%;
    padding: 5px;
}

.ci-double-section {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

#ci-instructions {
    font-size: 1.2vw;
}

#author-note {
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
    color: var(--colorC1);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* ----- Meta information ----- */

.ci-meta-row {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}

.ci-meta-icon {
    text-align: center;
}

.ci-meta-icon > img {
    width: 60%;
}

.ci-meta-form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.ci-meta-input > p {
    font-size: 1.1vw;
}

.ci-meta-input > select, input {
    font-size: 1.2vw;
    border: solid 2px var(--colorA5);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--colorC2);
    width: 90%;
    margin-right: 10%;
    margin-top: 0;
}

.ci-meta-notes {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 100%;
}

/* ----- Pre-inspection ----- */

#ci-section-inspection {
    width: 100%;
}

#ci-section-inspection-2 {
    width: 100%;
}

.ci-inspect-row, .ci-repair-row {
    width: 90%;
    display: grid;
}

.ci-inspect-row, .ci-repair-row > p {
    font-size: 1.1vw;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

/* For selection inspections */
.ci-inspect-options {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 0;
    margin-top: 0;
}

.ci-selected, .ci-deselected {
    width: 90%;
    margin-right: 5%;
    margin-top: 0;
    font-size: 0.9vw;
    border: solid 2px var(--colorA1);
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
}

.ci-selected {
    background-color: var(--colorA5);
    border-color:  var(--colorA5);
    color: var(--colorC2);
}

.ci-deselected {
    background-color: var(--colorA1);
    color: var(--colorC1);
}

.ci-deselected:hover {
    background-color: var(--colorA2);
    border-color: var(--colorA2);
    color: var(--colorC1);
    transition: 0.1s;
}

/* For text input inspections */
.ci-inspect-input {
    width: 100%;
    display: grid;
    grid-template-columns: 12% 30%;
}

.ci-inspect-input > input {
    width: 100%;
    margin-left: 0;
    font-size: 1vw;
    border: solid 2px var(--colorA5);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.ci-inspect-input > p {
    font-size: 1vw;
    text-align: left;
    margin-left: 5px;
}

/* ----- Submit button ----- */
#submit {
    width: 30%;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 1.8vw;
    border: solid 2px var(--colorA5);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--colorA1);
    color: var(--colorA5);
    transition: 0.1s;
}
