.cci-item {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    font-size: 0.75rem;
}

#cci-confirm {
    width: 100%;
    font-size: 0.75rem;
    cursor: pointer;
}

#cci-confirm:hover {
    background-color: darkred;
    color: white;
}